# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Directories for virtual environments
venv/
.env/
env/
virtualenv/

# Django SQLite database
db.sqlite3

# Django migrations (as they can be recreated)
*/migrations/

# Logs
*.log

# Media files (geralmente armazenados em uma pasta `media/`)
media/

# Static files (geralmente armazenados em uma pasta `static/`)
static/

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
