{% load widget_tweaks %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Veículo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body{
    z-index: 1;
    }
</style>
<body>
    <main class="content">
        {% include 'oficina/partials/navbar.html' %}
        
        <div class="container mt-5">
            <div class="card shadow-lg p-2">

                <div class="card-body shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                
                    <div class="card-header bg-dark text-white text-center">
                        <h1 class="h4 m-0">Cadastro</h1>
                    </div>
                
                    <form method="POST">
                        {% csrf_token %}
                        <h5 class="mt-3 mb-2">Informações do Cliente</h5>
                            <div class="row">
                                <div class="md-6 mb-3">
                                    <label for="id_nome" class="form-label">Nome</label>
                                        {{ form.nome|add_class:"form-control" }}
                                </div>

                                <div class="md-6 mb-3">
                                    <label for="id_carro" class="form-label">Carro</label>
                                        {{ form.carro|add_class:"form-control" }}
                                </div>

                                <div class="md-6 mb-3">
                                    <label for="id_placa" class="form-label">Placa</label>
                                        {{ form.placa|add_class:"form-control" }}
                                </div>

                                <div class="md-6 mb-3">
                                    <label for="id_telefone" class="form-label">Contato</label>
                                        {{ form.telefone|add_class:"form-control" }}
                                </div>

                                <div class="md-6 mb-3">
                                    <label for="id_servicos" class="form-label">servicos</label>
                                        {{ form.servicos|add_class:"form-control" }}
                                </div>
                            </div>
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'lista_de_clientes' %}" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'js/pesquisa.js' %}"></script>
        
        {% include 'oficina/partials/footer.html' %}
    </main>    
</body>
</html>
