

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 shadow-lg p-2 mb-2 rounded" id="nav-1">    
        
        <div class="container-fluid">
            
            <a class="navbar-brand">LERE</a>

            <form id="search-form" autocomplete="off">
                <input type="text" id="search-input" placeholder="Buscar cliente...">
                <div id="suggestions-box"></div>
            </form>
            
    
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'historico_clientes' %}">Histórico</a>     
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro_clientes' %}">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_de_clientes' %}">Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    